@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VHS";
    src: url('lib/fonts/VHS_Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --background: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: "VHS";
    color: var(--white);
    text-transform: uppercase;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--white);
  }